.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f3f4f6; /* Light gray background */
}

.side-menu {
  width: 250px;
  background-color: #f4f4f4; /* Light gray background */
  padding: 30px;
  border-right: 1px solid #ddd;
  position: fixed; /* Fix the side menu in place */
  height: 100vh; /* Full height */
  overflow-y: auto; /* Scroll if content overflows */
  vertical-align: middle;
  display: table-cell;
  font-size: 1.5rem;
}

.side-menu h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #007f3b; /* Lloyds green */
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin-bottom: 10px;
}

.side-menu ul li a:hover {
  color: #007f3b; /* Lloyds green */
}

.content-container {
  margin-left: 200px; /* Leave space for the fixed side menu */
  padding: 20px;
  width: calc(100% - 200px); /* Adjust width to account for the side menu */
  box-sizing: border-box;
  background-color: #ffffff; /* White background */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.side-menu ul li a {
  text-decoration: none;
  color: #333; /* Dark gray text */
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.side-menu ul li a:hover {
  color: #005a29; /* Darker green for hover */
}

.side-menu ul li .active-link {
  color: #007f3b; /* Lloyds green for the active link */
  font-weight: bold;
}